.sidePanel {
    text-align: center;
    background-color: #918c91;
    padding: 20px;
}

.sidePanel__header {
    margin-top: 0px;
    font-size: 20px;
}

.sidePanel__button {
    margin: 10px;
    padding: 8px;
    width: 150px;
    border-radius: 5px;
    background-color: #489dda;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 4px 2px #206ea5;
    cursor: pointer;
}

.sidePanel__link {
    color: blue;
}